* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@media only screen and (width <= 800px) {
    body {
        margin: 75px;
    }
    aside {
        width: 80%;
    }
    
    form {
        width: 80%;
    }
}

body {
    margin: 75px;
}

aside {
    float: right;
    width: 30%;
}

form {
    width: 67%;
}

li p {
    margin-bottom: 0%;
}

.gray-text {
    color: #495057;
}

.fontSmaller {
    font-size: smaller;
}

.title {
    font-size: 2rem;
}

.center {
    text-align: center;
}

.nameNumber {
    display: flex; 
    justify-content: space-between;
}

.country {
    width: 40%;
}

.state {
    width: 35%;
}

.zip {
    width: 25%;
}

.itemBadge {
    padding: 2px 11px 0px 11px;
}

.gray-bg {
    background-color: #e9ecef;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}