* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    margin: 8%;
}

aside {
    float: right;
    width: 30%;
}

form {
    width: 67%;
}

li p {
    margin-bottom: 0%;
}

.img {
    height: 70px;
    width: 320px;
    margin-bottom: 48px;
}

.gray-text {
    color: #495057;
}

.fontSmaller {
    font-size: smaller;
}

.title {
    font-size: 2rem;
}

.center {
    text-align: center;
}

.nameNumber {
    display: flex; 
    justify-content: space-between;
}

.country {
    width: 40%;
}

.state {
    width: 35%;
}

.zip {
    width: 25%;
}

.itemBadge {
    padding: 2px 11px 0px 11px;
}

.gray-bg {
    background-color: #e9ecef;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 800px) {
    body {
        margin: 8%;
    }
    aside {
        width: 100%;
        float: none;
    }
    
    form {
        width: 100%;
    }

    .img {
        height: 60px;
        width: 260px;
        margin-bottom: 16px;
    }

    .country {
        width: 100%;
        margin-bottom: 16px;
    }
    
    .state {
        width: 100%;
        margin-bottom: 16px;
    }
    
    .zip {
        width: 100%;
        margin-bottom: 16px;
    }

    .colSpan1 {
        grid-column: 1 / span 2;
    }

    .colSpan2 {
        grid-column: 3 / span 2;
    }
}